@import "tailwindcss";
@plugin "daisyui";

@layer base {
  .shadow-r {
    @apply shadow-[4px_0_6px_-2px_rgba(0,0,0,0.1)];
  }

  .container {
    @apply max-w-none! px-4 m-auto;
  }
}

@layer components {
}
